<div *ngIf="_loaded; else loading">
  <p-table #dt [value]="_invoices" [columns]="cols" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[10,20,50]"
    [responsive]="true">
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Pesquisar" (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th [pSortableColumn]="'number'">#Pedido
          <p-sortIcon [field]="'number'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'client.name'">Cliente
          <p-sortIcon [field]="'client.name'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'deliveryDate'">Data
          <p-sortIcon [field]="'deliveryDate'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'total'">Valor Total
          <p-sortIcon [field]="'total'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'delivered'">Entregue
          <p-sortIcon [field]="'delivered'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'paid'">Pago
          <p-sortIcon [field]="'paid'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'excluded'">Excluido
          <p-sortIcon [field]="'excluded'"></p-sortIcon>
        </th>
        <th class="col-button"></th>
        <th class="col-button"></th>
        <th class="col-button"></th>
        <th class="col-button"></th>
        <th class="col-button"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-invoice>
      <tr [ngClass]="lookupRowStyleClass(invoice)">
        <td>{{invoice.number}}</td>
        <td>{{invoice.client.name}}</td>
        <td>{{invoice.deliveryDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{invoice.total | currencyFormat}}</td>
        <td>{{invoice.delivered ? "Sim" : "Não"}}</td>
        <td>{{invoice.paid ? "Sim" : "Não"}}</td>
        <td>{{invoice.excluded ? "Sim" : "Não"}}</td>
        <td class="col-button">
          <i (click)="editInvoice(invoice)" class="fa fa-pencil"></i>
        </td>
        <td class="col-button">
          <i (click)="toggleDelivered(invoice)" class="fa fa-paper-plane"></i>
        </td>
        <td class="col-button">
          <i (click)="togglePaid(invoice)" class="fa fa-usd"></i>
        </td>
        <td class="col-button">
          <i (click)="printInvoice(invoice)" class="fa fa-print"></i>
        </td>
        <td class="col-button">
          <i (click)="toggleExcluded(invoice)" class="fa fa-trash"></i>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="ui-helper-clearfix" style="width:100%">
        <button type="button" pButton icon="fa fa-plus" style="float:left" (click)="addNewInvoice()" label="Adicionar"></button>
      </div>
      <div>Existem
        <b>{{_invoices.length}}</b> Pedidos
      </div>
    </ng-template>
  </p-table>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>