// Here you can add other styles
@media print {
    .app-body {
        margin: 0 !important;
    }
    .app-footer {
        display: none !important;
    }
    .container-fluid {
        padding: 25px !important;
    }
    .breadcrumb {
        display: none !important;
    }
}

tr.row-item-excluded {
    background: rgba(255, 190, 190, 0.4) !important;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, .4) 10px, rgba(255, 255, 255, .4) 15px) !important;
    .col-button .fa-trash {
        color: rgba(224, 0, 0, 0.9);
    }
    .col-button .fa-trash:hover {
        color: rgba(0, 0, 0, 1);
    }
}

tr.row-item-delivered {
    background: rgba(1, 168, 219, 0.3) !important;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, .4) 10px, rgba(255, 255, 255, .4) 15px) !important;
    .col-button .fa-paper-plane {
        color: rgba(1, 168, 219, 0.9);
    }
    .col-button .fa-paper-plane:hover {
        color: rgba(0, 0, 0, 1);
    }
}

tr.row-item-paid {
    background: rgba(1, 219, 56, 0.3) !important;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255, 255, 255, .4) 10px, rgba(255, 255, 255, .4) 15px) !important;
    .col-button .fa-usd {
        color: rgba(1, 219, 56, 0.9);
    }
    .col-button .fa-usd:hover {
        color: rgba(0, 0, 0, 1);
    }
}

tr.row-item-invisible {
    color: rgba(0, 0, 0, 0.3) !important;
    .col-button .fa-eye {
        color: rgba(0, 0, 0, 0.3);
    }
    .col-button .fa-eye:hover {
        color: rgba(0, 0, 0, 1);
    }
}

.col-button {
    width: 50px;
}

td.col-button {
    text-align: center;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    i {
        cursor: pointer;
    }
}

.col-button .fa-trash:hover {
    color: rgba(224, 0, 0, 0.9);
}

.col-button .fa-pencil:hover {
    color: rgba(182, 0, 158, 0.9);
}

.col-button .fa-usd:hover {
    color: rgba(0, 117, 0, 0.9);
}

.col-button .fa-paper-plane:hover {
    color: rgba(1, 168, 219, 0.9);
}

.col-button .fa-print:hover {
    color: rgba(235, 113, 0, 0.8);
}

.col-button .fa-eye:hover {
    color: rgba(0, 0, 0, 0.3);
}
