<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Pedidos
      </div>
      <div class="card-body">
        <app-invoices-table></app-invoices-table>
      </div>
    </div>
  </div>
</div>