.table {
    table-layout: fixed;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 5px;
    font-size: .8rem;
}

tr.product-category-title {
    background-color: rgb(216, 216, 216) !important;
    font-weight: bold !important;
    text-align: center;
}

td.has-popover {
    cursor: pointer;
    text-align: center;
    &:hover {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(81, 203, 238, 1);
    }
    span {
        width: 100%;
        height: 100%;
    }
}

.min-padding {
    padding: 3px 3px 0 3px !important;
    margin: 0 !important;
}

td.input-borderless {
    // margin: 1px !important;
    // padding: 1px !important;
    input {
        display: block !important;
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
        width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
        line-height: 1 !important;
        background-color: rgba(255, 255, 255, 0);
    }
}

.w150px{
    width: 150px !important;
}