<ng-container *ngIf="response$ | async as response; else loading">
  <div class="row">
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              Informações
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-7">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-user-circle"></i>
                      </span>
                    </div>
                    <input [(ngModel)]="selectedClient" (typeaheadOnSelect)="onClientSelect($event)"
                      [typeahead]="response.clients" [typeaheadOptionsLimit]="7" [typeaheadMinLength]="0" typeaheadOptionField="name" typeaheadWaitMs="500"
                      class="form-control" placeholder="Cliente">
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="input-group">
                    <input type="text" bsDatepicker [minDate]="minDate" [maxDate]="maxDate"
                      [(ngModel)]="Invoice.deliveryDate" 
                      [bsConfig]="{ containerClass: 'theme-default', showWeekNumbers:false }" class="form-control"
                      placeholder="Data">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Itens
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-condensed table-bordered table-striped">
                    <thead class="header-table">
                      <tr>
                        <th style="width: 10%">Qtd</th>
                        <th style="width: 10%">Med</th>
                        <th style="width: 45%">Produto</th>
                        <th>Preço</th>
                        <th style="width: 20%">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of Invoice.invoiceItems; let i = index;">
                        <tr class="product-category-title"
                          *ngIf="i==0 || item.product.category.name != Invoice.invoiceItems[i-1].product.category.name">
                          <td colspan="5">{{ item.product.category.name }}</td>
                        </tr>
                        <tr>
                          <td class="input-borderless">
                            <input type="number" min="0" step="0.1" [(ngModel)]="item.amount" />
                          </td>
                          <ng-template #popTemplate>
                            <div class="min-padding">
                              <span class="btn btn-block btn-danger"
                                (click)="selectUnit(item);pop.hide();">LIMPAR</span>
                              <ng-container *ngFor="let unit of response.units;">
                                <span class="btn  btn-block btn-primary"
                                  (click)="selectUnit(item,unit);pop.hide();">{{unit.name}}
                                  ({{unit.abbreviation}})</span>
                              </ng-container>
                            </div>
                          </ng-template>
                          <td class="has-popover" [popover]="popTemplate" popoverTitle="Unidade" placement="right"
                            outsideClick="true" container="body" #pop="bs-popover">
                            <span *ngIf="item.unit; else emptyUnit">{{item.unit?.abbreviation}}</span>
                          </td>
                          <td>{{ item.product.name }}</td>
                          <td class="input-borderless">
                            <input type="number" min="0" step="0.01" [(ngModel)]="item.price" />
                          </td>
                          <td>{{ item.calcTotal() ? (item.calcTotal() | currencyFormat):'' }}</td>
                        </tr>
                      </ng-container>
                      <ng-template #emptyUnit>
                        <span>--</span>
                      </ng-template>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5" *ngIf="Invoice.isValid()">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Resumo do Pedido
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <span>{{Invoice.client?.name}}</span>
                </div>
                <div class="col-sm-6">
                  <span>{{Invoice.deliveryDate | date: 'dd/MM/yyyy'}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-condensed table-bordered table-striped">
                    <thead class="header-table">
                      <tr>
                        <th style="width: 10%">Qtd</th>
                        <th style="width: 10%">Med</th>
                        <th style="width: 45%">Produto</th>
                        <th>Preço</th>
                        <th style="width: 20%">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of Invoice.selectedItems(); let i = index;">
                        <tr class="product-category-title"
                          *ngIf="i==0 || item.product.category.name != Invoice.selectedItems()[i-1].product.category.name">
                          <td colspan="5">{{ item.product.category.name }}</td>
                        </tr>
                        <tr *ngIf="item.isValid()">
                          <td>{{ item.amount }}</td>
                          <td>{{ item.unit?.abbreviation }}</td>
                          <td>{{ item.product.name }}</td>
                          <td>{{ item.price ? (item.price | currencyFormat):'' }}</td>
                          <td>{{ item.calcTotal() ? (item.calcTotal() | currencyFormat):'' }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <span>Itens: {{Invoice.itemsCount()}}</span>
                </div>
                <div class="col-sm-6">
                  <span>Total: {{Invoice.calcTotal() | currencyFormat}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 float-right">
                  <button type="button" class="btn btn-block btn-success" [disabled]="!Invoice.isValid()"
                    (click)="saveInvoice();">Salvar o Pedido</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>