<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Pedidos do dia
        </div>
        <div class="card-body">
          <app-invoices-table [today]="true"></app-invoices-table>
        </div>
      </div>
    </div>
  </div>
</div>
