<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Clientes
      </div>
      <div class="card-body">
        <div *ngIf="_loaded; else loading">
          <p-table #dt [value]="_clients" [columns]="cols" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50]"
            [responsive]="true">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Pesquisar" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="'name'">Nome
                  <p-sortIcon [field]="'name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'address'">Endereço
                  <p-sortIcon [field]="'address'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'contact'">Contato
                  <p-sortIcon [field]="'contact'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'phone'">Telefone
                  <p-sortIcon [field]="'phone'"></p-sortIcon>
                </th>
                <th class="col-button"></th>
                <th class="col-button"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-client>
              <tr [ngClass]="client.excluded ? 'row-item-excluded' : null">
                <td>{{client.name}}</td>
                <td>{{client.address}}</td>
                <td>{{client.contact}}</td>
                <td>{{client.phone}}</td>
                <td class="col-button">
                  <i (click)="editClient(client)" class="fa fa-pencil"></i>
                </td>
                <td class="col-button">
                  <i (click)="toggleExcluded(client)" class="fa fa-trash"></i>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa fa-plus" style="float:left" (click)="showDialogToAdd()" label="Adicionar"></button>
              </div>
              <div>Existem
                <b>{{_clients.length}}</b> Clientes
              </div>
            </ng-template>
          </p-table>


          <p-dialog header="{{_dialogTitle}}" [(visible)]="_displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="_newClient">
              <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <label for="name">Nome</label>
                  <input pInputText id="name" [(ngModel)]="_newClient.name" />
                </div>
              </div>
              <div class="ui-grid-row" style="margin-top: 12px">
                <div class="ui-grid-col-12">
                  <label for="address">Endereço</label>
                  <input pInputText id="address" [(ngModel)]="_newClient.address" />
                </div>
              </div>
              <div class="ui-grid-row" style="margin-top: 12px">
                <div class="ui-grid-col-8">
                  <label for="contact">Contato</label>
                  <input pInputText id="contact" [(ngModel)]="_newClient.contact" />
                </div>
                <div class="ui-grid-col-4">
                  <label for="phone">Telefone</label>
                  <input pInputText id="phone" [(ngModel)]="_newClient.phone" />
                </div>
              </div>
            </div>
            <p-footer>
              <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save" [disabled]="formIsInvalid()"></button>
              </div>
            </p-footer>
          </p-dialog>
        </div>
        <!-- <ng-template #loading>
          <app-loading></app-loading>
        </ng-template> -->
      </div>
    </div>
  </div>
</div>