<div class="row">
  <div class="col-lg-9">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Produtos
      </div>
      <div class="card-body">
        <div *ngIf="_loaded; else loading">
          <p-table #dt [value]="_products" [columns]="cols" [value]="_products" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[10,20,50]"
            [responsive]="true">
            <ng-template pTemplate="caption">
              <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Pesquisar" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  style="width:auto">
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 45%" [pSortableColumn]="'name'">Produto
                  <p-sortIcon [field]="'name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'category.name'">Categoria
                  <p-sortIcon [field]="'category.name'"></p-sortIcon>
                </th>
                <th [pSortableColumn]="'visible'">Visivel
                  <p-sortIcon [field]="'visible'"></p-sortIcon>
                </th>
                <th class="col-button"></th>
                <th class="col-button"></th>
                <th class="col-button"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr [ngClass]="product.excluded ? 'row-item-excluded' : (!product.visible?'row-item-invisible':null)">
                <td>{{product.name}}</td>
                <td>{{product.category.name}}</td>
                <td>{{product.visible ? "Sim" : "Não"}}</td>
                <td class="col-button">
                  <i (click)="editProduct(product)" class="fa fa-pencil"></i>
                </td>
                <td class="col-button">
                  <i (click)="toggleVisibility(product)" class="fa fa-eye"></i>
                </td>
                <td class="col-button">
                  <i (click)="toggleExcluded(product)" class="fa fa-trash"></i>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="ui-helper-clearfix" style="width:100%">
                <button type="button" pButton icon="fa fa-plus" style="float:left" (click)="showDialogToAdd()" label="Adicionar"></button>
              </div>
              <div>Existem
                <b>{{_products.length}}</b> Produtos
              </div>
            </ng-template>
          </p-table>


          <p-dialog header="{{_dialogTitle}}" [(visible)]="_displayDialog" width="300" [contentStyle]="{'overflow':'visible'}" [responsive]="true"
            showEffect="fade" [modal]="true">
            <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="_newProduct">
              <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <label for="name">Nome</label>
                  <input pInputText id="name" [(ngModel)]="_newProduct.name" />
                </div>
              </div>
              <div class="ui-grid-row" style="margin-top: 5px">
                <div class="ui-grid-col-12">
                  <label for="category">Categoria</label>
                  <p-dropdown [options]="_categories" [(ngModel)]="_newProduct.category" placeholder="Selecione a Categoria" [autoWidth]="false"></p-dropdown>
                </div>
              </div>
            </div>
            <p-footer>
              <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save" [disabled]="formIsInvalid()"></button>
              </div>
            </p-footer>
          </p-dialog>
        </div>
        <!-- <ng-template #loading>
          <app-loading></app-loading>
        </ng-template> -->
      </div>
    </div>
  </div>
</div>