@media print {
    .not-print-section {
        display: none;
    }
    .card {
        border: 0;
        padding: 0;
        margin: 0;
    }
    .card-body {
        padding: 0;
        margin: 0;
    }
}

.table {
    table-layout: fixed;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 8px;
}

tr.product-category-title{
    background-color: rgb(216, 216, 216) !important;
    font-weight: bold !important;
    text-align: center;
}