<div class="row">
  <div class="col-sm-3 not-print-section">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Opções
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2">
            <label class="switch switch-success switch-sm">
              <input type="checkbox" [(ngModel)]="_showAllProducts" (change)="toggleAllProducts()" class="switch-input">
              <span class="switch-slider"></span>
            </label>
          </div>
          <div class="col-sm-10">Exibir Todos os Produtos</div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label class="switch switch-success switch-sm">
              <input type="checkbox" [(ngModel)]="_showPrices" class="switch-input">
              <span class="switch-slider"></span>
            </label>
          </div>
          <div class="col-sm-10">Exibir Preço</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header not-print-section">
        <i class="fa fa-align-justify"></i> Preview
      </div>
      <div class="card-body">
        <div *ngIf="_invoiceLoaded; else loading" id="print-section">
          <div class="row border" style="padding: 5px">
            <div class="col-sm-3">
              <img src="../../../assets/img/brand/logo-square.png" class="img-fluid">
              <br>
              <strong>"Qualidade desde 1983"</strong>
              <br> hortifrutidias@gmail.com
              <br>
              <strong>(11) 94013-6058 / 94013-7431</strong>
            </div>
            <div class="col-sm-9">
              <div class="row" style="text-align: right">
                <div class="col-sm-12">
                  Pedido Nº: {{_invoice.number}}
                </div>
              </div>
              <div class="row row-title">
                <div class="col-sm-12">
                  Cliente: {{_invoice.client.name}}
                </div>
              </div>
              <div class="row row-title">
                <div class="col-sm-12">
                  Endereço: {{_invoice.client.address}}
                </div>
              </div>
              <div class="row row-title">
                <div class="col-sm-7">
                  Contato: {{_invoice.client.contact}}
                </div>
                <div class="col-sm-5">
                  Telefone: {{_invoice.client.phone}}
                </div>
              </div>
              <div class="row row-title">
                <div class="col-sm-12">
                  Data: {{_invoice.deliveryDate | date: 'dd/MM/yyyy'}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4">
                  Assinatura do cliente
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 nopadding">
              <table class="table table-condensed table-bordered table-striped">
                <thead class="header-table">
                  <tr>
                    <th style="width: 10%">Qtd</th>
                    <th style="width: 10%">Med</th>
                    <th style="width: 45%">Produto</th>
                    <th *ngIf="_showPrices">Preço</th>
                    <th style="width: 20%">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let byCategory of _invoiceItemsLeft">
                    <tr class="product-category-title">
                      <td [attr.colspan]="_showPrices ? 5 : 4">{{ byCategory.key }}</td>
                    </tr>
                    <tr *ngFor="let item of byCategory.value">
                      <td>{{ item.amount }}</td>
                      <td>{{ item.unit?.abbreviation }}</td>
                      <td>{{ item.product.name }}</td>
                      <td *ngIf="_showPrices">{{ item.price ? (item.price | currencyFormat):'' }}</td>
                      <td>{{ item.total ? (item.total | currencyFormat):'' }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>

            <div class="col-sm-6 nopadding">
              <table class="table table-condensed table-bordered table-striped">
                <thead class="header-table">
                  <tr>
                    <th style="width: 10%">Qtd</th>
                    <th style="width: 10%">Med</th>
                    <th style="width: 45%">Produto</th>
                    <th *ngIf="_showPrices">Preço</th>
                    <th style="width: 20%">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let byCategory of _invoiceItemsRight">
                    <tr class="product-category-title">
                      <td [attr.colspan]="_showPrices ? 5 : 4">{{ byCategory.key }}</td>
                    </tr>
                    <tr *ngFor="let item of byCategory.value">
                      <td>{{ item.amount }}</td>
                      <td>{{ item.unit?.abbreviation }}</td>
                      <td>{{ item.product.name }}</td>
                      <td *ngIf="_showPrices">{{ item.price ? (item.price | currencyFormat):'' }}</td>
                      <td>{{ item.total ? (item.total | currencyFormat):'' }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row" style="margin-top: 5px;">
            <div class="col-sm-3 border">Itens: {{_invoice.invoiceItems.length}}</div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3 border">Total: {{_invoice.total | currencyFormat}}</div>
          </div>

        </div>
        <ng-template #loading>
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>